.banner-1,.banner-2,.banner-3,.banner-3,.banner-4{

    background-size: cover;
    background-repeat: no-repeat;


}

#slide1{
background: linear-gradient(180deg, #121212 0%, rgba(18, 18, 18, 0.00) 100%),url("./images/banner1.png");
}
#slide2{
background: linear-gradient(180deg, #121212 0%, rgba(18, 18, 18, 0.00) 100%), url("./images/banner2.png");
}
#slide3{
    background: linear-gradient(180deg, #121212 0%, rgba(18, 18, 18, 0.00) 100%),url("./images/banner3.png");
}
#slide4{
    background: linear-gradient(180deg, #121212 0%, rgba(18, 18, 18, 0.00) 100%), url("./images/banner4.png");
}