#slide1 {
    background: linear-gradient(180deg, #121212 0%, rgba(18, 18, 18, 0.00) 100%), url("./images/banner1.png"); background-size: cover;background-repeat: no-repeat;
}
#slide2 {
    background: linear-gradient(180deg, #121212 0%, rgba(18, 18, 18, 0.00) 100%), url("./images/banner2.png"); background-size: cover;background-repeat: no-repeat;
}
#slide3 {
    background: linear-gradient(180deg, #121212 0%, rgba(18, 18, 18, 0.00) 100%), url("./images/banner3.png");background-size: cover;background-repeat: no-repeat;
}
#slide4 {
    background: linear-gradient(180deg, #121212 0%, rgba(18, 18, 18, 0.00) 100%), url("./images/banner4.png");background-size: cover;background-repeat: no-repeat;
}
.team{background-image: linear-gradient( rgba(18, 18, 18, 0.70),rgba(18, 18, 18, 0.70)),url("./images/team.png");background-size: cover; background-repeat: no-repeat;}
